{
  "$schema": "https://json.schemastore.org/swcrc",
  "jsc": {
    "parser": {
      "syntax": "typescript",
      "tsx": true,
      "dynamicImport": true
    },
    "transform": {
      "react": {
        "runtime": "classic",
        "pragma": "React.createElement",
        "pragmaFrag": "React.Fragment",
        "throwIfNamespace": false,
        "development": false,
        "useBuiltins": false
      }
    },
    "target": "es2022"
  },
  "module": {
    "type": "commonjs"
  },
  "minify": false
}
